.nav {
    display: flex;
    justify-content: space-between;
    color: #fff;
    padding: 4rem 8.5rem;
    margin-bottom: 4rem;

    &__logo {
        font-size: 28px;
        font-family: 'Gilroy-Bold';
    }

    &__item-box {
        display: flex;
        justify-content: space-between;
        align-items: center;
        list-style: none;
        width: 57.5rem;
    }

    &__item {
        margin: 0 2rem;
    }

    &__link {
        display: flex;
        align-items: center;
        font-size: 1.8rem;
        text-decoration: none;
        color: #fff;
    }

    &__item-dropdown {
        margin-left: 1.25rem;
    }

    &__cart-box {
        position: relative;
        display: flex;
        align-items: center;
        cursor: pointer;
    }

    &__cart-items {
        position: absolute;
        top: .75rem;
        right: -1rem;
        text-align: center;
        background-color: $accent;
        border-radius: 10rem;
        width: 2rem;
    }
}

.search {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 1.8rem;
    color: $light-grey;
    font-family: 'Gilroy-Regular';
    padding: 8px 8px 8px 20px;
    background-color: black;
    border: .1rem solid #FFFFFF99;
    border-radius: 10rem;
    max-width: 35rem;
    background-color: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(4px);
    margin: 0 auto;

    &__input {
        border: none;
        color: inherit;
        font-family: inherit;
        font-size: inherit;
        background-color: transparent;

        &:focus {
            outline: none;
        }

        &::-webkit-input-placeholder {
            color: $light-grey;
        }
    }

    &__icon-box {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 3.4rem;
        height: 3.4rem;
        background-color: $accent;
        border-radius: 10rem;
        cursor: pointer;
    }

    &__icon {
        height: 1.5rem;
        width: 1.5rem;
    }
}

.intro-content {
    display: flex;

    &__item {
        display: flex;
        flex: 1;
        flex-direction: column;
        list-style: none;

        &:not(:last-child) {
            margin-right: 2rem;
        }
    }

    &__large-title {
        font-size: 4.2rem;
        line-height: 1.2;
        font-family: 'Gilroy-Bold';
        margin: auto 0;
    }

    &__title {
        font-size: 2.4rem;
        font-family: 'Gilroy-Bold';
    }

    &__text {
        font-size: 1.6rem;
        font-family: 'Gilroy-Regular';
        margin: 1.75rem 0 2rem 0;
    }
}

.link-product{
    display: flex;
    align-items: center;
    margin-top: auto;
    cursor: pointer;
    width: fit-content;
    text-decoration: none;

    &__name {
        font-size: 1.4rem;
        color: $accent;
        margin-right: 1.5rem;
    }

    &__arrow {
        width: 3.75rem;
        height: 1.1rem;
    }
}

.product-slider {
    list-style: none;
    display: flex;
    justify-content: space-around;
    background-color: $secondary-background;
    padding: .5rem 0;
    border-radius: 10rem;
    width: 36rem;
    margin-bottom: 13rem;

    &__item {
        font-size: 1.8rem;
        padding: .5rem 1.75rem;
        border-radius: 10rem;
        cursor: pointer;

        &.active {
            background-color: #fff;
        }
    }
}

.product-cards {
    position: relative;
    display: flex;
    justify-content: space-between;
    list-style: none;
    width: 100%;
    margin-bottom: 6rem;

    &__item {
        flex: 1;

        &:not(:last-child) {
            margin-right: 4rem;
        }
    }

    &__top-box {
        position: relative;
        background-color: #FAFAFA;
        border-top-left-radius: 1.5rem;
        border-top-right-radius: 1.5rem;
        padding-top: 23rem;
    }

    &__chair-img {
        position: absolute;
        top: -5.5rem;
        left: 0;
        right: 0;
        margin: 0 auto;
    }

    &__bottom-box {
        background-color: #fff;
        border-bottom-left-radius: 1.5rem;
        border-bottom-right-radius: 1.5rem;
        
        padding: 1rem 2rem 3rem 2rem;

    }

    &__type {
        color: #8D8D8D;
        font-family: 'Inter';
        font-size: 1.6rem;
    }

    &__title {
        font-family: 'Inter';
        font-size: 2.1rem;
        font-weight: 600;
    }

    &__text {
        font-size: 1.5rem;
    }

    &__rating {
        margin-bottom: 3.5rem;
    }

    &__purchase-box {
        display: flex;
        align-items: center;
    }

    &__price {
        display: flex;
        font-family: 'Inter';
        font-weight: 600;
        font-size: 2.1rem;
        margin-right: auto;
    }

    &__currency {
        font-size: 1.5rem;
        margin-right: .3rem;
        margin-top: .1rem;
    }

    &__add-item {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #0D1B39;
        height: 4.9rem;
        width: 4.9rem;
        border-radius: 10rem;
        cursor: pointer;
    }

    &__left-carousel-arrow {
        position: absolute;
        z-index: 10;
        left: -2.5rem;
        top: 37%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #fff;
        height: 4.9rem;
        width: 4.9rem;
        border-radius: 10rem;
        cursor: pointer;
    }

    &__right-carousel-arrow {
        position: absolute;
        z-index: 10;
        right: -2.5rem;
        top: 37%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #fff;
        height: 4.9rem;
        width: 4.9rem;
        transform: rotate(180deg);
        border-radius: 10rem;
        cursor: pointer;
    }
}

.rating-star {
    margin-right: .5rem;
    width: 1.5rem;
    height: 1.4rem;
}

.experiences-img-cont {
    position: relative;
    margin: 6rem 6rem 0 0;

    &__top-decoration {
        position: absolute;
        left: 0;
        top: -6rem;
        width: 72%;
        height: 6rem;
        background-color: $primary-background;
        border-top-right-radius: 2rem;
    }

    &__bottom-decoration {
        position: absolute;
        right: -6rem;
        top: 0;
        bottom: 0;
        margin: auto 0;
        width: 6rem;
        height: 65%;
        background-color: $primary-background;
        border-top-right-radius: 2rem;
        border-bottom-right-radius: 2rem;
    }
}

.experiences-content {
    display: flex;
    flex-direction: column;
    margin: 0 12rem;

    &__header {
        font-family: 'Gilroy-Light';
        font-size: 1.8rem;
        letter-spacing: 0.175em;
        color: $accent;
        margin-bottom: 1.25rem;
    }

    &__title {
        font-family: 'Gilroy-Bold';
        font-size: 4.2rem;
        line-height: 1.2;
        margin-bottom: 2rem;
    }

    &__text {
        font-size: 1.8rem;
        line-height: 1.85;
        opacity: 0.8;
        margin-bottom: 2.5rem;
    }
}

.materials-content {
    display: flex;
    flex-direction: column;
    margin: 0 8.5rem;

    &__header {
        font-family: 'Gilroy-Light';
        font-size: 1.8rem;
        letter-spacing: 0.175em;
        color: $accent;
        margin-bottom: 1.25rem;
    }

    &__title {
        font-family: 'Gilroy-Bold';
        font-size: 4.2rem;
        line-height: 1.2;
        margin-bottom: 2rem;
    }

    &__text {
        font-size: 1.8rem;
        line-height: 1.85;
        opacity: 0.8;
        margin-bottom: 2.5rem;
    }
}

.materials-img-cont {
    display: flex;    
    align-items: flex-end;

    &__left-box {
        margin-bottom: -8.25rem;
    }

    &__small-img {
        margin-bottom: -4rem;
    }

    &__right-box {
        position: relative;
        margin-left: 1.5rem;
    }

    &__top-decoration {
        position: absolute;
        top: -6rem;
        right: 0;
        width: 62%;
        height: 6rem;
        background-color: $primary-background;
        border-top-left-radius: 2rem;
    }
}

.testimonials-cards {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0 5rem;

    &__item {
        display: flex;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: top;
        height: 47.7rem;
        width: 37rem;

        &:not(:last-child) {
            margin-right: 4rem;
        }
    }

    &__content {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;        
        background-color: #fff;
        min-height: 20rem;
        margin: 1.75rem;
        border-radius: 1rem;
        padding: 3.5rem 4.8rem 1rem 4.8rem;
        margin-top: auto;
    }

    &__profile-img-box {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: -3.5rem;
        background-color: #fff;
        width: 6.5rem;
        height: 6.5rem;
        border-radius: 35rem;
    }

    &__name {
        font-family: 'Gilroy-Bold';
        font-size: 1.8rem;
        margin-bottom: .25rem;
    }

    &__location {
        font-size: 1.2rem;
        opacity: .6;
        margin-bottom: 1.75rem;
    }

    &__text {
        font-size: 1.4rem;
        line-height: 1.1;
        opacity: .8;
        text-align: center;
        margin-bottom: 2rem;
    }

    &__rating {
        margin-bottom: 0;
    }
}